/*!
 * Meu CSS do miniframework - Projeto CLient Manager
 */

/*# CSS CONFIG #*/
.ps-left  { float: left; }
.ps-right { float: right; }
.bx-mgx { margin: 15px 0; }
.bx-mgy { margin: 0 15px; }
.clean { clear: both; }

.box-form {
  border: 0px solid #000;
}


/*# CSS MENU INLINE #*/
.menuIn { list-style: none;}
.menuIn li { display: inline; margin-right: 10px; }
/*.menuIn li a{ font-size: 10px }*/

/*# CSS PAGINATOR #*/
.paginator {
    border: 2px solid #ddd !important;
    padding: 8px;
    display: inline-block;
}
.paginator li {
    display: inline-block;
}
.paginator li a{
    margin: 3px;
    padding: 1px 5px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
}
.paginator li a:hover{
    background-color: #ccc;
    padding: 1px 5px;
}
.paginator li strong{
    color: #f7f7f7;
    background-color: #666;
    padding: 1px 5px;
    font-size: 13px;
}



/*# CSS PAGINATOR #*/
.box-avatar{
    border: 3px solid #000;
    width: 147px;
    padding: 10px;
}
#avatar{
    /*border: 3px solid #000;*/
    /*width: 95%;*/
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    /*border: 1px solid #000;*/
}
.btn-file .path{
    background: #4f8ab8;
    color: #084d85;
    overflow: hidden;
}

.btn-file input.upload,
.btn-file input#getPrevew
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
     /*filter: alpha(opacity=0);*/
    /*background: #ddd !important; */
    height: 100%;
}



/* MEU PROPRIO SWICH */

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #26b99a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

.imgUpload
{
  z-index: 99;
  width: 40px;
  
  height: 34px;
  position:absolute;

  /*border: 1px solid red;*/
  padding: 0px;
  margin:  0px;

  /*background-color: red;*/

  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}


/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

.content-profile{
  /*border: 0px solid #000;*/
  /*display: block;*/
  /*background-color: #fff;*/
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 15px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


/**
* CodeMirror - forms code
*/
.CodeMirror {
  border: 10px solid #000;
  height: auto;
}