

/* MEU PROPRIO SWICH */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #26b99a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* FIM SWICH */




/*Error Content*/
.error-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: top center;
      -ms-flex-align: top center;
          align-items: top center;
  -webkit-box-pack: top center;
      -ms-flex-pack: top center;
          justify-content: top center;
  min-height: 100vh;
}

.error-content .box {
  text-align: center;
  color: #fff;
}

.error-content .box h2 {
  margin-bottom: 50px;
  color: #000;
}

.error-content .box h1 {
  margin: 10px;
  color: #dc3545;
  font-size: 42px;
}
.error-content .box p {
  color: #000;
}



